h1 {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  font-size: 30px;
  margin-bottom: 90px;
}
.container {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
}

.Job {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
}
.Job > span {
  font-size: 30px;
  color: black;
}
.Job > div {
  font-size: 15px;
  color: black;
}

.blue {
  border: 10px solid;
  color: blue;
}
.green {
  border: 10px solid;
  color: green;
}
.red {
  border: 10px solid;
  color: red;
}
.yellow {
  border: 10px solid;
  color: yellow;
}
.orange {
  border: 10px solid;
  color: orange;
}
footer {
  height: 50px;
  background-color: gainsboro;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  font-size: 15px;
}
.skill {
  font-weight: bold;
}
